Repository Air-Clean/airclean-reactjs, pull requests merged in 2024-08, with the labels that each got.

#115 [FEATURE] 지점장페이지/ 보고서조회 - 내가쓴 매출 보고서 수정
  src/App.js
  src/apis/ReportAPICalls.js
  src/modules/ReportsModule.js
  src/modules/index.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationBranchSalesDetail.css
  src/pages/client/locationReports/locationMyReportsMenu/LocationBranchSalesDetail.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationMyReports.js
Labels: ✨Feature, 📫API, 🎨Html&css, :page_with_curl: DB

#117 오류 수정
  src/apis/ReportAPICalls.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationBranchSalesDetail.js
Labels: 🐞BugFix🔧

#119 [feature] humna driver 관련 엔티티 생성
  src/App.js
  src/apis/HRAPICalls.js
  src/common/LoadingContext.js
  src/common/LoadingSpinner.js
  src/components/branch/BranchList.js
  src/components/branch/Branchinformation.js
  src/components/branchClient/Action.js
  src/components/branchClient/BranchListClient.js
  src/components/branchClient/BranchinformationClient.js
  src/components/branchClient/BranchinformationCss.css
  src/components/branchClient/MapClient.js
  src/components/header/AdminHeader.js
  src/pages/admin/branch/Branch.js
  src/pages/admin/human_resource/driver/BioCard.js
  src/pages/admin/human_resource/driver/DriverModifyModal.js
  src/pages/admin/human_resource/driver/DriverResource.js
  src/pages/admin/human_resource/driver/RegistDriver.js
  src/pages/client/branchClient/BranchClient.js
  src/pages/client/branchClient/store.js
Labels: ✨Feature

#121 [FEATURE]지점장페이지/보고서조회 - 매출보고서 삭제
  src/apis/ReportAPICalls.js
  src/modules/ReportsModule.js
  src/modules/index.js
  src/pages/admin/report/newReportsMenu/ReportsModal.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationBranchSalesDetail.js
Labels: ✨Feature, 📫API, :page_with_curl: DB

#126 [feature] driver
  src/apis/HRAPICalls.js
  src/modules/HRModule.js
  src/pages/admin/human_resource/Temp/AccordionDriverComponent.js
  src/pages/admin/human_resource/Temp/Garbage.js
  src/pages/admin/human_resource/Temp/GarbageDriver.js
  src/pages/admin/human_resource/branch/BioCard.css
  src/pages/admin/human_resource/branch/BioCard.js
  src/pages/admin/human_resource/driver/BioCard.css
  src/pages/admin/human_resource/driver/BioCard.js
  src/pages/admin/human_resource/driver/DriverModifyModal.js
  src/pages/admin/human_resource/driver/DriverResource.js
Labels: ✨Feature

#127 [bug] 오류 수정
  src/pages/admin/human_resource/driver/DriverResource.js
Labels: 🐞BugFix🔧

#132 [FEATURE] car미배정 기사 배정해주기
  src/apis/CarAPICalls.js
  src/modules/CarModule.js
  src/modules/index.js
  src/pages/admin/car/Car.js
  src/pages/client/carservice/carservice.css
  src/pages/client/carservice/carservice.js
Labels: 📫API

#134 [FEATURE]지점장페이지/ 지출보고서 수정, 삭제
  src/App.js
  src/apis/ReportAPICalls.js
  src/modules/ReportsModule.js
  src/modules/index.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationExpenseDetail.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationMyReports.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationRepairDetail.js
Labels: ✨Feature, 📫API, 🎨Html&css, :page_with_curl: DB

#136 [FEATURE] 보고서관리 - 페이징 처리
  src/apis/ReportAPICalls.js
  src/modules/ReportsModule.js
  src/modules/index.js
  src/pages/admin/report/reportsMenu/BranchSales.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationExpenseDetail.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationMyReports.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationRepairDetail.js
Labels: ✨Feature, 📫API, 🎨Html&css

#159 [FEATURE]보고서관리 - 승인, 반려 업데이트
  src/App.js
  src/pages/admin/report/newReportsMenu/ReportsModal.js
  src/pages/admin/report/reportsMenu/BranchSales.js
  src/pages/admin/report/reportsMenu/BranchSalesDetail.js
  src/pages/admin/report/reportsMenu/ExpenseDetail.js
  src/pages/admin/report/reportsMenu/RepairDetail.js
  src/pages/admin/report/reportsMenu/VehicleRepairDetail.js
  src/pages/client/locationReports/locationNewReportsMenu/LocationNewReports.css
  src/pages/client/locationReports/locationNewReportsMenu/LocationNewReports.js
  src/pages/client/locationReports/locationNewReportsMenu/LocationNewReports.module.css
Labels: ✨Feature, 📫API, 🎨Html&css, :page_with_curl: DB

#176 [FEATURE]지점페이지/보고서양식 css 조정
  src/pages/client/locationReports/locationNewReportsMenu/BranchSalesModal.module.css
  src/pages/client/locationReports/locationNewReportsMenu/ExpenseModal.module.css
  src/pages/client/locationReports/locationNewReportsMenu/LocationNewReports.js
  src/pages/client/locationReports/locationNewReportsMenu/LocationNewReports.module.css
  src/pages/client/locationReports/locationNewReportsMenu/Modal.css
  src/pages/client/locationReports/locationNewReportsMenu/RepairModal.module.css
Labels: 🎨Html&css

#177 [FEATURE]지점장페이지/ 보고서조회 css 수정
  src/modules/ReportsModule.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationBranchSalesDetail.css
  src/pages/client/locationReports/locationMyReportsMenu/LocationBranchSalesDetail.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationBranchSalesDetail.module.css
  src/pages/client/locationReports/locationMyReportsMenu/LocationExpenseDetail.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationExpenseDetail.module.css
  src/pages/client/locationReports/locationMyReportsMenu/LocationMyReports.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationMyReports.module.css
  src/pages/client/locationReports/locationMyReportsMenu/LocationRepairDetail.js
  src/pages/client/locationReports/locationMyReportsMenu/LocationRepairDetail.module.css
Labels: 🎨Html&css
